<div class="about-container mat-elevation-z7 bg1">
	<section class="mat-elevation-z9" >
	<h1> Lorem Ipsum - About this website and Thomas Webber </h1>
		
		<article >
			<p>
				<strong>Lorem Ipsum is a generator of random fake text.</strong> You can choose the number of paragraphes, of words, or of list.
			</p>

			<p> You obtain at the end a generated text in latin language that you can copy easily to clipboad and use it wherever you want in your mock-up or models. </p>

			<p> This loremipsum website was developped by <strong>Thomas Webber</strong> with <strong>angular</strong> (angular version 4.1.3) front-end framework. It is currently hosted on amazon web service EC2 and distributed thanks to nginx. The code is open source and can be viewed on the github community on the following link <a href="https://github.com/Thomas-Webber/LoremIpsum">https://github.com/Thomas-Webber/LoremIpsum.</a>
			</p>
			<p>I decided to build this website first to help people generating LoremIpsum content simply but also to train myself with <strong>angular and with the angular material design.</strong></p>

			<p>Feel free to use the Lorem Ipsum text generator as much as you want</p>
			<p>Thank you, <br><br>
			-- <br>
			Thomas Webber</p>

		</article>

	</section>

</div>
<app-footer class="bg1" style="width:100%"></app-footer>