.about-container{
	padding: 25px;
	margin: 40px 0;
	flex: 1;
	display: flex;
	align-items: center; 
}

section{
	margin-left: auto;
	margin-right: auto;
    color: rgba(0,0,0,.8);
}

article{
	font-weight: 400;
	font-size: 18px;
}