<md-sidenav-container>
    <md-sidenav mode="side" opened="true" class="bg2">
		<!-- two line list -->
		<md-list>
		  <md-list-item>
		    <a md-line md-button>PARAGRAPHE</a>
		  </md-list-item>
		  <md-list-item>
		    <a md-line md-button>LIST</a>
		  </md-list-item>
		  <md-list-item>
		    <a md-line md-button>TITLE</a>
		  </md-list-item>
		</md-list>
    </md-sidenav>

    <div class="my-content" style="z-index: 1">
    	<h3>Paragraphe</h3>
    	<h3>List</h3>
    	<h3>Title</h3>
    </div>
    
</md-sidenav-container>