md-sidenav {
  width: 200px;
}

md-sidenav{
	display: flex;
	flex-direction: column;
	box-shadow: 3px 0 6px rgba(0,0,0,.24);
	overflow: hidden;
}

.my-content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mat-list-item{
	color:white !important;
}

#particle-container{
	flex: 1;
	max-height: 700px;
}

.generator-headcontainer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

section{
	width: 80%;
    margin: 40px 5%;
    padding: 15px;
    max-width: 720px;
    background-color: white;
}
section h3 {
	margin: 0;
}

article{
	padding: 10px;
	outline: 0;
    word-break: normal;
    word-wrap: break-word;
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
}

article ul {
	padding: 10px;
}

article ul li{
	margin: 10px 0;
}

.fake-hidden{
	overflow:hidden; 
	z-index: -1;
	position: absolute;
}