<md-sidenav-container>
    <md-sidenav mode="side" opened="true" class="bg2">
		<!-- two line list -->
		<md-list>
		  <md-list-item>
		    <a href="/home#paragraphe" md-line md-button>PARAGRAPHE</a>
		  </md-list-item>
		  <md-list-item>
		    <a href="/home#words" md-line md-button>WORDS</a>
		  </md-list-item>
		  <md-list-item>
		    <a href="/home#list" md-line md-button>LIST</a>
		  </md-list-item>
		</md-list>
		<div id="particle-container">
			<particles [style]="myStyle" [width]="particleWidth" [height]="particleHeight" [params]="myParams"></particles>
		</div>
    </md-sidenav>

    <div class="my-content bg3" style="z-index: 1">
    	
		<section id="paragraphe" class="mat-elevation-z5">
    		<div class="generator-headcontainer">
	    		<h3>Paragraphe</h3>
	    		<span mdTooltip="Number of paragraphes" mdTooltipPosition="above">
	    			<md-slider (change)="reloadParagraphes()" warn min="0" max="10" step="1" [(ngModel)]="paragrapheNumberValue" thumb-label="true"></md-slider>
	    		</span>
	    		<span mdTooltip="Size of each paragraphe" mdTooltipPosition="above">
	    			<md-slider (change)="reloadParagraphes()" warn min="0" max="30" step="5" thumb-label="true" [(ngModel)]="paragrapheSizeValue" ></md-slider>
	    		</span>
	    		<span mdTooltip="Copy to clipboard" mdTooltipPosition="above">
	    			<button md-button [ngxClipboard]="paragraphes"> <img src="/assets/clipboard.svg" style="height: 20px;"
	    				(cbOnSuccess)="successClipboard($event)" >
	    			</button>
	    		</span>
    		</div>
    		<textarea #paragraphes [(ngModel)]="outputParagrapheString" class="fake-hidden"></textarea>
    		<article class="generator-content mat-elevation-z4" >
    			<p *ngFor="let t of outputParagraphe" >{{t}}</p>
    		</article>
		</section>
		<section id="words" class="mat-elevation-z5">
    		<div class="generator-headcontainer">
	    		<h3>Words</h3>
	    		<span mdTooltip="Number of words" mdTooltipPosition="above">
	    			<md-slider (change)="reloadWords()" warn min="0" max="30" step="5" [(ngModel)]="wordNumberValue" thumb-label="true"></md-slider>
	    		</span>
	    		<span style="width: 112px"></span>
	    		<span mdTooltip="Copy to clipboard" mdTooltipPosition="above">
	    			<button md-button [ngxClipboard]="words"> <img src="/assets/clipboard.svg" style="height: 20px;"
	    				(cbOnSuccess)="successClipboard($event)" >
	    			</button>
	    		</span>
    		</div>
    		<textarea #words [(ngModel)]="outputWords" class="fake-hidden"></textarea>
    		<article class="generator-content mat-elevation-z4">
    			{{outputWords}}
    		</article>
		</section>
		<section id="list" class="mat-elevation-z5">
    		<div class="generator-headcontainer">
	    		<h3>List</h3>
	    		<span mdTooltip="Number of paragraphes" mdTooltipPosition="above">
	    			<md-slider (change)="reloadLists()" warn min="0" max="10" step="1" [(ngModel)]="listNumberValue" thumb-label="true"></md-slider>
	    		</span>
	    		<span mdTooltip="Size of each paragraphe" mdTooltipPosition="above">
	    			<md-slider (change)="reloadLists()" warn min="0" max="30" step="5" thumb-label="true" [(ngModel)]="listSizeValue" ></md-slider>
	    		</span>
	    		<span mdTooltip="Copy to clipboard" mdTooltipPosition="above">
	    			<button md-button [ngxClipboard]="lists"> <img src="/assets/clipboard.svg" style="height: 20px;"
	    				(cbOnSuccess)="successClipboard($event)" >
	    			</button>
	    		</span>
    		</div>
    		<textarea #lists [(ngModel)]="outputListString" class="fake-hidden"></textarea>
    		<article class="generator-content mat-elevation-z4">
    			<ul>
    				<li *ngFor="let t of outputList" >{{t}}</li>
    			</ul>
    		</article>
		</section>
    </div>
    
    
	<app-footer></app-footer>
</md-sidenav-container>