<md-sidenav-container>
    <md-sidenav mode="side" opened="true" class="bg2">
		<!-- two line list -->
		<md-list>
		  <md-list-item>
		    <a href="/home#paragraphe" md-line md-button>PARAGRAPHE</a>
		  </md-list-item>
		  <md-list-item>
		    <a href="/home#words" md-line md-button>WORDS</a>
		  </md-list-item>
		  <md-list-item>
		    <a href="/home#list" md-line md-button>LIST</a>
		  </md-list-item>
		</md-list>
		<div id="particle-container">
			<particles [style]="myStyle" [width]="particleWidth" [height]="particleHeight" [params]="myParams"></particles>
		</div>
    </md-sidenav>

    <div class="my-content bg5" style="z-index: 1">
    	
		<section id="paragraphe" style="">
    		<div class="generator-headcontainer">
	    		<h3>Paragraphe</h3>
	    		<span mdTooltip="Number of paragraphes" mdTooltipPosition="above">
	    			<md-slider (change)="reloadParagraphes()" warn min="0" max="10" step="1" [(ngModel)]="paragrapheNumberValue" thumb-label="true"></md-slider>
	    		</span>
	    		<span mdTooltip="Size of each paragraphe" mdTooltipPosition="above">
	    			<md-slider (change)="reloadParagraphes()" warn min="0" max="30" step="5" thumb-label="true" [(ngModel)]="paragrapheSizeValue" ></md-slider>
	    		</span>
    		</div>
    		<article class="generator-content mat-elevation-z1">
    			<p *ngFor="let t of outputParagraphe" >{{t}}</p>
    		</article>
		</section>
		<section id="words" style="">
    		<div class="generator-headcontainer">
	    		<h3>Words</h3>
	    		<span mdTooltip="Number of words" mdTooltipPosition="above">
	    			<md-slider (change)="reloadWords()" warn min="0" max="30" step="5" [(ngModel)]="wordNumberValue" thumb-label="true"></md-slider>
	    		</span>
    		</div>
    		<article class="generator-content mat-elevation-z1">
    			{{outputWords}}
    		</article>
		</section>
		<section id="list" style="">
    		<div class="generator-headcontainer">
	    		<h3>List</h3>
	    		<span mdTooltip="Number of paragraphes" mdTooltipPosition="above">
	    			<md-slider (change)="reloadLists()" warn min="0" max="10" step="1" [(ngModel)]="listNumberValue" thumb-label="true"></md-slider>
	    		</span>
	    		<span mdTooltip="Size of each paragraphe" mdTooltipPosition="above">
	    			<md-slider (change)="reloadLists()" warn min="0" max="30" step="5" thumb-label="true" [(ngModel)]="listSizeValue" ></md-slider>
	    		</span>
    		</div>
    		<article class="generator-content mat-elevation-z1">
    			<ul>
    				<li *ngFor="let t of outputList" >{{t}}</li>
    			</ul>
    		</article>
		</section>
    </div>
    
    
	<app-footer></app-footer>
</md-sidenav-container>